

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --cor-primaria: #eee5ffff;
    --cor-secundaria: #c4a2f6ff;
    --cor-card-primaria: #7541c8ff;

    --cor-fundo: #ffffffff;
    --cor-texto: #e7eaeeff;
    --cor-card: #cfcfcfff;
    --cor-card-1: #676d7eff;
    --cor-card-2: #48556aff;
    --cor-card-3: #19212eff;
    --cor-card-4: #121212ff;
}

body {

    background-color: var(--cor-texto);
    font-family: "Barlow Semi Condensed", sans-serif;
}


    .container > div {
        padding: 1em;
    }


    .container {
   
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    max-width: 1200px;
    
    margin: 100px 30px 50px 225px;
}



.card-01 {

    grid-column: 1 / 3;
    grid-row: 1;
    background-color: var(--cor-card-primaria);
    border-radius: 12px;
    
    position: relative;
    gap: 15px;
    width:600px;
    height: 320px;
    margin: 0 5px 10px 100px;
 }

.icone {
  
    
    position: absolute;
    top: 0;
    right: 0; 
    z-index: 1;
    opacity: 0.7;
    width: 110px; 
    margin: 0 80px 0 20px;
}

.frase-inicial {
    font-size: 22px;
    font-weight: 500;
    width: 540px;
    color: var(--cor-texto);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 5px 15px 20px;
    position: relative;
    z-index: 2;
}

.descricao {
    font-size: 15px;
    width: 550px;
    color: var(--cor-texto);
    
    margin: 0 0 15px 20px;
}

.card-02 {
    
    grid-column: 2/3;
    grid-row: 1;
    background-color: var(--cor-card-2);
    color: var(--cor-texto);
    border-radius: 10px;
    width: 300px;
    height: 320px;
    margin-left: 250px;
    
   }
   .frase-card-02{
    font-size: 20px;
    font-weight: 500;
    width: 200px;
    margin: 5px 0 10px 15px;
   }

   .descricao-card-02{
    font-weight: 400;
    width: 230px;
    margin: 5px 0 10px 15px;
   }

   .perfil-container {
    display: flex;          
    align-items: center;    
    gap: 10px;
   }

.card-03 {

    grid-column: 3 / 5;
    grid-row: 1 / 3;
    background-color: var(--cor-fundo);
    border-radius: 10px;
    width: 300px;
    height: 685px; 
    margin-left: 30px;
  
}
 .perfil-card-03,
 .verificacao-card-03 {
     color: var(--cor-card-2);
 }

 .perfil-card-03 {
     font-weight: 500;
 }

.titulo-card-03{
    color: var(--cor-card-2);
    font-size: 25px;
    font-weight: 600;
    margin: 5px 0 10px 16px;
}

.descricao-card-03{
    color: var(--cor-card-1);
    font-size: 16px;
    font-weight: 500;
    width: 250px;
    letter-spacing: 0.5px;
    margin: 5px 0 10px 16px;
}

.card-04 {
    grid-column: 1 /2;
    grid-row: 2;
    background-color: var(--cor-fundo);
    border-radius: 10px;
    width: 350px;
    height: 325px;
    margin: 5px 1px auto 100px;
    

}

.nome-card-04, .verificacao-card-04 {
    color: var(--cor-card-2);
    
}
.nome-card-04{
    font-weight: 500;
}

.verificacao-card-04 {
    font-size: 12px;
}

.titulo-card-04 {
    color: var(--cor-card-2);
    font-size: 30px;
    font-weight: 600;
    width: 290px;
    margin: 5px auto 10px 15px;
}

.descricao-card-04{
    color: var(--cor-card-2);
    width: 250px;
    margin: 5px auto 10px 15px;
}
.card-05 {
    grid-column: 2 / 4;
    grid-row: 2;
    background-color: var(--cor-card-3);
    border-radius: 10px;
    width: 550px;
    height: 325px;
    margin:5px 5px 10px 5px;
    
   
}
.frase-card-05{
    color: var(--cor-texto);
    font-size: 20px;
    font-weight: 500;
    width: 500px;
    margin: 0 5px 15px 20px;

}
.descricao-card-05{
    color: var(--cor-texto);
    font-size: 14px;
    font-weight: 300;
    width: 500px;
    margin: 5px 50px 10px 16px;
}


.perfil-container {

    align-items: center;
    margin-bottom: 15px;
}

.perfil-Daniel,
.perfil-Jonathan,
.perfil-jeanette,
.perfil-patrick,
.perfil-kira {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin-right: 10px;
    margin: 10px 5px 5px 20px;
}

.perfil,
.verificacao {
    display: flex;
    color: var(--cor-texto);


}

.verificacao {
   font-size: 12px;
}


.texto-perfil .verificacao {
    font-size: 14px;
    color: var(--cor-texto);


}

.attribution {
    text-align: center;
    
}

